#art1
{
	margin-top: 10px;
	margin-left: 15px;
}

#botonA
{
	border: none;
	border-radius: 5px; 	
	padding-left: 3%;
	padding-right: 3%;
}

#form1
{
	margin: 0 auto;
	width: 50%;
}

#pdf
{
	margin-left: 2%;
}

#pdfimg
{
	width: 60px;
}

#usuario
{
	color: #4099FF;
	margin-left: 8px;
}

.table, th
{
	margin: 0 auto;
	text-align: center;
}

