label
{
	color: #3c5aa6;
	font-weight: bold;
}

#art3Desc
{
	margin-left: 290px;
	margin-top: -100px;

}

#caract
{
	margin-left: 10px;
	font-size: 1.1em;
}

#imagenPoke
{
	background-color: #DCDCDC; 
	border: 
	margin: 0 auto;
	text-align: center;

}

#imagenPokeInfo
{
	background-color: gray;
	border-radius: 50%;
	width: 24%;
}

#fondo
{
	//border: 5px solid black;
	border-radius: 10px;
	padding-bottom: -60%;
	margin-left: -60px;
	margin-top: -47px;
	width: 1140px;
	height: 450px;
	-webkit-box-shadow: 0px 0px 50px 3px rgba(0,0,0,0.75);
	-moz-box-shadow: 0px 0px 50px 3px rgba(0,0,0,0.75);
	box-shadow: 0px 0px 50px 3px rgba(0,0,0,0.75);
}

#form1
{
	background-color: #ffcb05;
	margin: 0 auto;
	width: 60%;
}

#go
{
	height: 35px;
}

#logo
{
	height: 40px;
	margin-top: -11px; 
	margin-left: 10px; 
	padding-right: 50px;
}

#listaPoke
{
	border-radius: 10px;
}

#poke
{
	margin-top: -20px;
	height: 450px;
}

#pokeball
{
	height: 18px;
}

#textoDescripcion
{
	margin-left: 480px;
	margin-top: -230px;
}

#textoPoke
{
	font-weight: bold;
	font-size: 1.3em;
}

#tipoAguaPoke
{
	background-color: #4592c4;
}

#tituloPokeInfo
{
	margin-top: -20px;
	text-align: center;
}