footer
{
	color: white;
	font-style: bold;
	text-shadow: -1px -1px 1px #333, 1px -1px 1px #333, -1px 1px 1px #333, 1px 1px 1px #333;
}

label
{
	color: #3c5aa6;
	font-weight: bold;
}

#art3Desc
{
	margin-left: 275px;
	margin-top: -168px;

}

#botonEdit
{
	background: -webkit-gradient(linear, 90% 0%, 0% 90%, from(#59adea), to(#35ce94));
	border: none;
	border-radius: 50px;
	text-decoration: none;
	padding: 3px;
}

#botonPoder
{
	background: -webkit-gradient(linear, 90% 0%, 0% 90%, from(#59adea), to(#35ce94));
	border: none;
	border-radius: 50px;
	text-decoration: none;
	padding: 3px;
}

#caract
{
	margin-left: 10px;
	font-size: 1.1em;
}

#candy
{
	margin-top: -3px;
	margin-left: 15px;
	width: 18px;
}

#config
{
	margin-top: 15px;
	margin-left: 15px;
}

#dos
{
	margin-left: 7px;
}

#editar
{	

	background: lightgray;
	border-radius: 50px;
	margin-top: 11px;
	width: 200px;
}

#evolucion1
{
	margin-left: 93px;
	width: 17%;
}

#evolucion2
{
	width: 17%;
}

#evolucion3
{
	width: 17%;
}

#flecha
{
	width: 10%;
}

#imagenPoke
{
	background-color: #DCDCDC; 
	border: 
	margin: 0 auto;
	text-align: center;

}

#imagenPokeInfo
{
	background-image: url('../fondo3.png');
	background-color: gray;
	border-radius: 50%;
	margin-top: -20px;
	width: 24%;
}

#imgEditar
{
	margin-top: -80px;
	margin-left: 90%;
	width: 8%;
}

#itemPsPC
{
	
}

#fondo
{
	border-radius: 10px;
	padding-bottom: -60%;
	margin-left: -60px;
	margin-top: -47px;
	width: 1140px;
	height: 450px;
	-webkit-box-shadow: 0px 0px 50px 3px rgba(0,0,0,0.75);
	-moz-box-shadow: 0px 0px 50px 3px rgba(0,0,0,0.75);
	box-shadow: 0px 0px 50px 3px rgba(0,0,0,0.75);
}

#form1
{
	background-color: #ffcb05;
	margin: 0 auto;
	width: 60%;
}

#go
{
	height: 35px;
}

#logo
{
	height: 40px;
	margin-top: -11px; 
	margin-left: 10px; 
	padding-right: 50px;
}

#listaPoke
{
	border-radius: 10px;
}

#poder
{
	border-radius: 50px;
	width: 220px;
	background: lightgray;
	margin-top: 11px;
}

#polvos
{
	margin-left: 5px;
	margin-top: -2px;
	width: 18px;
}

#poke
{
	margin-top: -20px;
	height: 450px;
}

#pokeball
{
	height: 18px;
}

#textoDescripcion
{
	margin-left: 480px;
	margin-top: -230px;
}

#textoPoke
{
	font-weight: bold;
	font-size: 1.3em;
}

#tipoP0
{
	background-color: #7b62a3;
	border-color: #7b62a3;
}

#tipoP1
{
	background-color: #4592c4;
	border-color: #4592c4;
}

#tipoP2
{
	background-color: #eed535;
	border-color: #eed535;
}

#tipoP3
{
	background-color: #fd7d24;
	border-color: #fd7d24;
}

#tipoP4
{
	background-color: #9bcc50;
	border-color: #9bcc50;
}

#tipoP5
{
	background-color: #f366b9;
	border-color: #f366b9;
}

#tipoP6
{
	background-color: #b97fc9;
	border-color: #b97fc9;
}

#tituloPokeInfo
{
	margin-top: -20px;
	text-align: center;
}

#nombrePokeE
{
	color: #4592c4;
}